<h1>Posts</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <% if user_signed_in? %>
        <%= post.user.email %><br>
      <% end %>   
      <%= post.body %>
    </li>
  <% end %>
</ul>

<%= link_to "Sign in", new_user_session_path %>
<%= link_to "Sign out", destroy_user_session_path, data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } %>